.navbar{
    background-color:#81b7d2; /* For browsers that do not support gradients */
}
.main-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 1.6rem;
    margin: auto;
}
body{
    margin:auto;
}
li{
    padding: 20px;
    list-style-type: none;
}
a{
    color:#FFF;
}
a:hover{
    color:khaki;
}
footer{
    background-color: #81b7d2;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
}
.content-area{
    display: flex;
    background-color:aquamarine;
    
}
.sidebar{
    display: flex;
    background-color: #4d5198;
    flex-basis: 20%;
    flex-direction: column;
    overflow-y:scroll;
    height: 81.7vh;
}
.main{
    background-color: #daf2dc;
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:stretch;
    overflow-y:scroll;
    height: 81.7vh;
    }
.heading{
    font-size: 3rem;
    color: #b4a284;
    text-align: center;
    font-family:Alatsi;
}
.accordion {
    background-color:#daf2dc;
    color:slategray;
    cursor: pointer;
    padding: 2px;
    width: 78vw;
    border-bottom:1px solid black;
    text-align:center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family:amiri;
  }
  
  .active, .accordion:hover {
    background-color:khaki;
  }
  
  .panel {
    padding: 0 18px;
    background-color: f5f0e1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .mainFlexItems{
      background-color:bisque;
  }
  textarea{
      width: 75vw;
      border: 1px solid burlywood;
      height: 40vh;
      font-size: 1rem;
      position: relative;
      right: 0.8rem;
  }
  .step{
      font-size: 1.2rem;
      color:#444;
      font-family: amiri;
  }
  @media (max-width:400px){
      .main-nav{
          font-size:10px;
      }
      .sidebar{
          flex-basis:30%;
          font-size: 10px;
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        flex-grow: 5;
        flex-shrink: 0;
      }
      .heading{
          font-size: 1rem;
      }
      .accordion{
          font-size: 8px;
          width: 70vw;
      }
      footer{
          font-size: 10px;
      }
      .step{
          font-size:0.8rem;
      }
      textarea{
          font-size: 8px;
      }
  }